<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geospatial Data Form</title>
    {% load static %}
    <!-- <style>
        .image{background-image: url("{% static 'homepage/district_map.png' %}");}
    </style> -->
</head>
<body>
    <h1>Geospatial Data Form</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if data_table %}
        <h2>Table Results</h2>
        <pre>{{ data_table | safe }}</pre>
    {% endif %}

    {% if map_path %}
        <h2>District Boundary Map</h2>
        <div class="image">
            <img src="{% static 'homepage/district_map.png' %}" alt="My image">
        </div>
    {% else %}
        <p>Map generation failed or is not available.</p>
    {% endif %}
</body>
</html>